[submodule "dao_voting/sc/lib/openzeppelin-contracts"]
	path = dao_voting/sc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dao_voting/sc/lib/forge-std"]
	path = dao_voting/sc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
